xs-maxwide = 580px
sm-maxwide = 700px
md-maxwide = 992px
lg-maxwide = 1200px

// @media (max-width: xs-maxwide)
// @media (max-width: sm-maxwide)
// @media (max-width: md-maxwide)
// @media (max-width: lg-maxwide)