// DARK THEME
$darkbg = rgba(4,4,4,4)
$darkbg-dim = lighten($darkbg, 20%)
$darkfont = limegreen
$darkhover = hotpink
$darkboxshadow = 0px 0px 20px rgba(235, 98, 189, 0.425)

// LIGHT THEME
$lightbg = rgba(255,255,255,255)
$lightbg-darker = darken($lightbg, 20%) 
$lightfont = limegreen
$lighthover = palegoldenrod
$lightboxshadow = 0px 0px 0px 20px rgba(35, 47, 90, 0.425)

// INTERPOLATORS
hselectors = 'h1,h2,h2,h4,h5,#the-hits,.coming-soon'

iampink = 'h3'

iamhotpink = 'a.nav-link, h3#the-hits, h3.the-hits, h4'

iamlimegreen = 'h1#page-title'

// BLOCKS
poster =
    position relative
    display block
    width 250px
    height 250px
    border-radius 7px
    overflow hidden
    box-shadow 0 0 20px rgba(235,99,189,0.3)
    transition all ease 0.4s
    &:hover
      opacity 0.4

imgijizz =
  width 250px
  height 250px
  min-width 250px
  min-height 250px
  border-radius 7px
  transform translateZ(20px)