doctype html
html(lang="en")
  include includes/head
  .main
    .container
      include includes/navbar
      include includes/albums
    include includes/sticky-footer
    include includes/foot
    include includes/tilt
