<!-- ~ ----------------------------------------------------------------------- ~ -->
      <!-- &                                CARD GRID                                & -->
      <!-- ~ ----------------------------------------------------------------------- ~ -->

      <div class="row" id="#cardgrid">



        <!--? ----------------------------------------------------------------------- -->
        <!--!                                 WHITMAN                                 -->
        <!--? ----------------------------------------------------------------------- -->

        <div class="col-md-3">
          <div class="single-card-row" id="card-whitman">

            <a class="album-poster" href="#" data-aos="fade-up" data-switch=0 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/whitman.jpg' />
            </a>

            <p class="song-title">w h i t m A n</p>
            <!-- <p class="pea">A L u m i n u m . w A L L s</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                                  AMEN                                   -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-amen">
            <a class="album-poster" href="#" data-aos="fade-down" data-switch=9 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/amen.jpg'>
            </a>
            <p class="song-title">A m e n</p>
            <!-- <p class="pea">s o n g s . t h e . L o r d<br> g A v e . d A v e</p> -->
          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                                  IDLER                                  -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-idler">

            <a class="album-poster" href="#" data-aos="fade-up" data-switch=10 data-tilt><img
                src='https://f000.backblazeb2.com/file/bucket-content/images/idler.jpg'></a>

            <p class="song-title">i d L e r</p>
            <!-- <p class="pea">s o n g s . t h e . L o r d<br> g A v e . d A v e</p> -->


          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                           THE END IS UPON US                            -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-four">

            <a class="album-poster" href="#" data-aos="fade-down" data-switch=12 data-tilt><img
                src='https://f000.backblazeb2.com/file/bucket-content/images/the-end-is-upon-us.jpg'></a>
            <p class="song-title">t h e . e n d . i s <br> u p o n . u s</p>
            <!-- <p class="pea">b r o k e n . b r A i n s</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                               MALA DIETZ                                -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="sing-card-row" id="card-five">

            <a class="album-poster" href="#" data-aos="fade-left" data-switch=19 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/mala-dietz.jpg'></a>
            <p class="song-title">m A L A . d i e t z</p>
            <!-- <p class="pea">k A k r A s i v A</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                              NOT PSYCHOTIC                              -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-six">

            <a class="album-poster" href="#" data-aos="fade-right" data-switch=14 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/not-psychotic.jpg'></a>
            <p class="song-title">n o t . p s y c h o t i c</p>
            <!-- <p class="pea">A L u m i n u m . w A L L s</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                                 REVENGE                                 -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-six-point-five">

            <a href="#" class="album-poster" data-aos="fade-left" data-switch=4 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/revenge.jpg' /></a>
            <p class="song-title">r e v e n g e</p>
            <!-- <p class="pea">a L u m i n u m . w A L L s</p> -->

          </div>
        </div>


        <!--? ----------------------------------------------------------------------- -->
        <!--!                               MULTIVERSE                                -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-row-card" id="card-seven-point-five">

            <a href="#" class="album-poster" data-aos="fade-right" data-switch=1 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/multiverse.jpg'></a>
            <p class="song-title">m u L t i v e r s e</p>
            <!-- <p class="pea">t h e . d A v i d s <br> a n d . f r i e n d s</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                               STALINGRAD                                -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-seven">

            <a class="album-poster" href="#" data-aos="fade-left" data-switch=20 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/stalingrad.jpg'></a>
            <p class="song-title">s t A L i n g r A d</p>
            <!-- <p class="pea">k A k r A s i v A</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                            MANY MILES APART                             -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-eight">

            <a class="album-poster" href="#" data-aos="fade-left" data-switch=3 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/many-miles-apart.jpg'></a>
            <p class="song-title">m A n y . m i L e s <br> A p A r t</p>
            <!-- <p class="pea">A L u m i n u m . w A L L s</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                             KNOXVILLE GIRL                              -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-eight">

            <a class="album-poster" href="#" data-aos="fade-right" data-switch=2 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/knoxville-girl.jpg' /></a>
            <p class="song-title">k N o x v i L L e . g i r L</p>
            <!-- <p class="pea">A L u m i n u m . w A L L s</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                            LIFES A GRAVE                                -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-eight">

            <a class="album-poster" href="#" data-aos="fade-right" data-switch=11 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/lifes-a-grave.jpg'></a>
            <p class="song-title">L i f e ' s . A . g r A v e</p>
            <!-- <p class="pea">A L u m i n u m . w A L L s</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                        PSALM 6 PRAYER IN ORDEAL                         -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="psalm-card">

            <a class="album-poster" href="#" data-aos="flip-left" data-switch=13 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/psalm-6.jpg' /></a>
            <p class="song-title">p s A L m . 6<br>p r A y e r . i n . o r d e A L</p>
            <!-- <p class="pea">s o n g s . t h e . L o r d <br> g A v e . d A v e</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                            CLUB 2 CAR CHASE                             -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-nine">

            <a class="album-poster" href="#" data-aos="flip-right" data-switch=8 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/club-2-car-chase.jpg'></a>
            <p class="song-title">c L u b . 2 <br>c A r . c h A s e</p>
            <!-- <p class="pea">j A s o n . s t A t h A m</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                         FUTURE NEON KNIFE FIGHT                         -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-ten">

            <a class="album-poster" href="#" data-aos="flip-left" data-switch=7 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/future-neon-knife-fight.jpg'></a>
            <p class="song-title">f u t u r e . n e o n<br>k n i f e . f i g h t</p>
            <!-- <p class="pea">j A s o n . s t A t h A m</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                               THE WEATHER                               -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-eleven">

            <a class="album-poster" href="#" data-aos="flip-right" data-switch=data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/rain.jpg'></a>
            <p class="song-title">t h e . w e A t h e r</p>
            <!-- <p class="pea">c o m i c . b o o k<br>o f . s o n g s . &amp; <br>r e c i t A t i o n s</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                             POOR MANS DREAM                             -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-twelve">
            <a class="album-poster" href="#" data-aos="fade-down" data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/poor-mans-dream.jpg'></a>
            <p class="song-title">p o o r . m A n &apos; s <br> d r e A m</p>
            <!-- <p class="pea">b r o k e n . b r A i n s</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                             ALUMINUM WALLS                              -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-thirteen">
            <a class="album-poster" href="#" data-aos="fade-left" data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/aluminum-walls.jpg'></a>
            <p class="song-title">A L u m i n u m <br>w A L L s</p>
            <!-- <p class="pea">A L u m i n u m . w A L L s</p> -->
          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                            PLAY MISTY FOR ME                            -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="card-fourteen">

            <a class="album-poster" href="#" data-aos="fade-right" data-switch=15 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/play-misty-for-me.jpg'></a>
            <p class="song-title">p L A y . m i s t y<br>f o r . m e</p>
            <!-- <p class="pea">b r o k e n . b r A i n s</p> -->

          </div>
        </div>

<!--! ----------------------------------------------------------------------- -->
<!--?                                   BPD                                   -->
<!--! ----------------------------------------------------------------------- -->
          <div class="col-md-3">
            <div class="single-card-row" id="card-sixteen">
            
            <a class="album-poster" href="#" data-aos="zoom-in" data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/bpd.jpg'> </a> <p class="song-title">b
              p d</p>
              <!-- <p class="pea">b r o k e n . b r A i n s</p> -->
          </div>

        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                                 DOS XX                                  -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="dosxx-card">
            <a class="album-poster" href=# data-aos="fade-up" data-switch=18 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/dos-xx.jpg'></a>
            <p class="song-title">d o s . x x</p>
            <!-- <p class="pea">t h e . d A v i d s . L i v e</p> -->

          </div>
        </div>

        <!--! ----------------------------------------------------------------------- -->
        <!--?                                 DOUBLE                                  -->
        <!--! ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="double-card">
            <a class="album-poster" href=# data-aos="fade-left" data-switch=17 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/double.jpg'></a>
            <p class="song-title">d o u b L e</p>
            <!-- <p class="pea">b r o k e n . b r A i n s</p> -->

          </div>
        </div>

        <!--? ----------------------------------------------------------------------- -->
        <!--!                                BY GOSHES                                -->
        <!--? ----------------------------------------------------------------------- -->
        <div class="col-md-3">
          <div class="single-card-row" id="bygoshes-card">
            <a class="album-poster" href="#" data-aos="fade-down" data-switch=16 data-tilt>
              <img src='https://f000.backblazeb2.com/file/bucket-content/images/by-goshes.jpg'></a>
            <p class="song-title">b y . g o s h e s . [L i v e]</p>
            <!-- <p class="pea">w i n t e r . s o n g s</p> -->

          </div>
        </div>


      </div>