h1.brand:before {
    content: "";
    font-size: 1.2rem;;
    margin-left: 15px;
    color:#12CFF3;
    animation-name: namechangerOne;
    animation-delay: 1s;
    animation-duration: 16s;
    animation-iteration-count: infinite;
  }
  
@keyframes namechangerOne {
    0% {opacity: 0; }
    5% {opacity: 0; }
    10% {opacity: 1; content: "t h e . d A v i d s"; color:crimson; }
    20% {opacity: 0; content: "t h e . d A v i d s";}
    25% {opacity: 0; }
    30% {opacity: 1; content: "i v A n . t h e . t e r r i b L e s"; color: #3CD814;}
    40% {opacity: 0;  content: "i v A n . t h e . t e r r i b L e s"; }
    45% {opacity: 0; }
    50% {opacity: 1;  content: "c o r n b r e A d . A n d . b e A n s"; color: crimson;}
    60% {opacity: 0;  content: "c o r n b r e A d . A n d . b e A n s"; }
    65% {opacity: 0; }
    70% {opacity: 1;  content: "t h e . b A r e f o o t . L o u i e s"; color: #3CD814;}
    80% {opacity: 0;  content: "t h e . b A r e f o o t . L o u i e s"; }
    85% {opacity: 0; }
    90% {opacity: 1;  content: "d A v i d . k L e g g"; color:crimson;}
    100% {opacity: 0;  content: "d A v i d . k L e g g"; }
  }


/** TEST CARD FLIP **/

#flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.album-poster:hover {
    box-shadow: none;
    transform: scale(0.89) translateY(5px);
  }

.flip-card:hover #flip-card-inner {
  transform: rotateY(180deg);
  }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  
  /** END FLIP CARD TEST **/


/** DONT KNOW WTF THIS EFFING THING IS? **/  
p.pea {
  color: limegreen;
  font-size: 15px;
  text-transform: lowercase;
  animation-name: wobniaroloc;
  animation-delay: 0.7ms;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}