.main {
}
.backgroundCoverImage {
}
.container-lg {
}
.nav {
}
.nav-item {
}
.nav-link {
}
.active {
}
.row {
}
.col-md-12 {
}
.col-md-3 {
}
.single-card-row {
}
.album-poster {
}
.sing-card-row {
}
.coming-soon {
}
.footer mt-auto py-3 {
}
.container {
}
.text-muted {
}
