body {
  /* font-family: 'ZCOOL KuaiLe'; */
  /* font-family: 'IM Fell Great Primer SC', serif; */
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  --color-bg: #ffffff;
  background-color: var(--color-bg);
}

p span {
  color: var(--color-bluella);
}

/* [data-theme="dark"] {
    --color-bg: #000000; 
  }*/

.b-canvas {
  font-family: 'Monoton';
  font-display: block;
  margin-left: 5px;
}

h1#itt-page-title {
  color: black;
}

.main {
  font-family: 'ZCOOL KuaiLe';
  /* font-family: 'IM Fell Great Primer SC', serif; */
  padding: 40px 0;
  color: black;
  background: limegreen;
  background-image: url("https://f000.backblazeb2.com/file/bucket-content/images/green-devil_touchup.png");
  /* url("https://f000.backblazeb2.com/file/bucket-content/images/drawings/dr-kudzu_transparent.png"); */
  background-position: 80%;
}

nav.navbar-toggler {
  color: cadetblue;
}

a.nav-link {
  color: magenta;
  align-items: right;
}

a.nav-link:hover {
  text-decoration-line: underline;
  color: thistle;
  text-decoration-color: cadetblue;
}

#itt-page-title {
  color: black;
}


h1 {
  margin-left: 15px;
  color: black;
  animation-name: colorainbow;
  animation-delay: 0.7ms;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}


@keyframes borderlights {
  0% {
    border-color: #3CD814;
  }

  50% {
    border-color: #12CFF3;
  }

  100% {
    border-color: #3CD814;
  }
}

.container-fluid {
  border: 3px dotted;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: borderlights;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  /* background-color:rgba(235, 99, 189, 0.3); */
  /* background-color: var(--color-bluella) */
}




h4 {
  color: black;
  font-size: 17px;
  text-transform: lowercase;
  margin-top: 16px;
  font-weight: 600;
}

.row#cardgrid {
  display: flex;
}

.col-md-3 {
  margin-bottom: 40px;
}

.album-poster {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(235, 99, 189, 0.3);
  transition: all ease .4s;
}

.album-poster:hover {
  box-shadow: none;
  transform: scale(0.89) translateY(5px);
}

img {
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 7px;
  transform: translateZ(20px);
}


h3 {
  font-size: 24px;
  margin-bottom: 24px;
  border-bottom: .4px;
  padding-bottom: 15px;
  color: black;
}

h3.construction {
  color: black;
}

h3#the-hits {
  color: antiquewhite;
}

/* 
  @keyframes wobniaroloc {
    0% {color: antiquewhite; }
    100% { color: #12CFF3; }
  } */


p.song-title {
  color: black;
  /* margin-top: 1rem;
    text-align: right;
    padding-right: 10px;
    /* margin-left: 10px; */
  /* max-width: 80%; */
}

*/ p.construction {
  animation: none;
  font-size: 18px;
  color: rgb(214, 186, 186);
}

p.construction a {
  font-size: larger;
  color: black;
  text-decoration-color: grey;
}

p.construction a:hover {
  color: thistle;
}


/**  MEDIA QUERIES **/

@media screen and (max-width: 992px) {
  .col-md-3 {
    grid-template-columns: auto auto auto auto;
  }

  p.song-title {
    text-align: left;
  }

  #plain-text {
    width: 200px;
  }

  canvas {
    width: 200px;
  }

}

@media screen and (min-width: 0) {
  .album-cover {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 400px) {
  .album-cover {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 770px) {
  #plain-text {
    font-size-adjust: -20%;
  }

  .row {
    margin: 30px;
  }

  .col-md-3 {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  h1#page-title {
    margin-left: 10px;
  }

  img {
    max-height: 200px;
    max-width: 200px;
  }

  h4 {
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 992px) {
  /* .div.col-md-3 {
      background-color: hotpink; */
}

@media screen and (min-width: 1200px) {
  /* .div.col-md-3 {
      background-color: lime; */
}

@media screen and (min-width: 1400px) {
  /* .div.col-md-3 {
      background-color: teal; */
}