.row
  h1#page-title Songs the Lord Gave Dave
  .col-md-12
    br
    h3#the-hits the hits
  .col-md-3
    a.album-poster(href='#')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.9r2mOeY-a3cghjrIuGNUyQHaE7%26pid%3DApi&f=1')
    h4 w h i t m A n
    p A L u m i n u m . w A L L s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.H64MI5lB4WHlyGXmiO9nagHaFj%26pid%3DApi&f=1')
    h4 i d L e r
    p
      | s o n g s . t h e . L o r d
      br
      |                     g A v e . d A v e
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.bDcN2Lhu6il55OjV7URkgwAAAA%26pid%3DApi&f=1')
    h4 A m e n
    p
      | s o n g s . t h e . L o r d
      br
      |                     g A v e . d A v e
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.9bVqNp8KSDeN4keqFd_akAHaEK%26pid%3DApi&f=1')
    h4 t h e . e n d . i s . u p o n . u s
    p b r o k e n . b r A i n s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='assets/images/All For the Front! All for Victory!.jpg')
    h4 s t A L i n g r A d
    p k A k r A s i v A
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.v-KX_sQRDjVcfQnw3qaOHAAAAA%26pid%3DApi&f=1')
    h4 m A L A . d i e t z
    p k A k r A s i v A
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='./assets/images/too large for tinyjpg/weird john deere.png')
    h4 n o t . p s y c h o t i c
    p A L u m i n u m . w A L L s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.2ZWAyrJRcDaixfESKnk3GAHaDU%26pid%3DApi&f=1')
    h4 m A n y . m i L e s . A p A r t
    p A L u m i n u m . w A L L s
  // Coming Soon
  .row
  .col-md-12
    h3.coming-soon coming soon
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.7sCHk98Be4rHrayFJ-2zeQHaD5%26pid%3DApi&f=1')
    h4
      | c L u b . 2 . c A r . c h A s e
    p j A s o n . s t A t h A m
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src="./assets/images/jason.statham-knives.jpg")
    h4
      | f u t u r e . n e o n
      br
      | k n i f e . f i g h t
    p j A s o n . s t A t h A m
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='./assets/images/too large for tinyjpg/rain-frame 1.png')
    h4 w e A t h e r
    p
      | c o m i c . b o o k
      br
      | o f . s o n g s . &amp; 
      br
      |r e c i t A t i o n s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='./assets/images/too large for tinyjpg/ice-frame 3.png')
    h4
      | p o o r . m A n &apos; s 
      br
      |  d r e A m
    p b r o k e n . b r A i n s
  .row 
  .col-md-12
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.x8F5OsWxGnyZrynPqVTmsAHaEK%26pid%3DApi&f=1')
    h4
      |A L u m i n u m 
      br
      | w A L L s
    p A L u m i n u m . w A L L s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ewh9eM5Rafmpu1zN3CKKfwHaDd%26pid%3DApi&f=1')
    h4
      |p L A y . m i s t y
      br
      |f o r . m e
    p b r o k e n . b r A i n s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.vdyFdYmFWnJrQdni51wq1wHaJQ%26pid%3DApi&f=1')
    h4
      |t h e . o n e
      br
      | w i t h . t h e . g u n
    p b r o k e n . b r A i n s
  .col-md-3
    a.album-poster(href='javascript:void();')
      img(src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.YGgakBP4yJGL4fJidtHDsQHaEK%26pid%3DApi&f=1')
    h4
      |b p d
    p b r o k e n . b r A i n s