head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=0, shrink-to-fit=no')
  title all the music all the time
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="public/assets/css/bootstrap.min.css")
  link(rel="stylesheet" href="public/assets/css/bootstrap.grid.min.css" type="text/css")
  link(rel="stylesheet" href="public/index.css" type="text/css")