ul.nav
  li.nav-item
    a.nav-link.active#here(href='#') we are here
  li.nav-item
    a.nav-link#landing(href='public/html/landing.html') landing
  li.nav-item
    a.nav-link#somewhere(href='#') somewhere
  li.nav-item
    a.nav-link.disabled#disabled(href='#' tabindex='-1' aria-disabled='true') listen
