script.
  VanillaTilt.init(document.querySelectorAll(".album-poster"), {
    max: 30,
    speed: 500,
    reverse: true,
    scale: 1.15,
    glare: true,
    maxGlare: 2
  });

  VanillaTilt.init(document.querySelectorAll(".album-poster"));