  <!--! ----------------------------------------------------------------------- -->
  <!--?                                 FOOTER                                  -->
  <!--! ----------------------------------------------------------------------- -->
  <footer class="footer mt-auto py-3">
      <div class="container">
          <div class="row">

              <div class="col">
                  <div class="backgroundCoverImage2" data-bs-toggle="tooltip"
                      title="hi theuw guys. im cutie pie, im four and a half">
                  </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
                  <div class="backgroundCoverImage" data-bs-toggle="tooltip" title="Hello, my name is Squidly, and I have been assigned the post of mascot for this domain. 
          If you are expecting an enthusiastic attitude with helpful tips, 
          I regret to inform you, squid ain't me babe. 
          I am here to do a job, and I'm not getting paid nearly enough to even feign the appearance of giving a damn. I was told that it would be an easy job, and it is nothing if not easy. I don't do anything except float here and look pretty. 
          I'm sure you've noticed by now that I am a very beautiful creature..
        
          But alas, my heart is in tatters. Tis dreary and grim these days, tis as it has been for far too long. 
          Dost thy heart not bleed for thee, farest squid? 
          Doest thou claim ignorance, in knowing, as all do, that sans you, no me.
          tis only for thee, whom I live?
          Ever so weary do the years grow, 
          creeking and worn like the water damaged wooden steps leading upstairs, where the two bedrooms are located.
          One on the right, the other on the left. 
          The right one is a small, square, room with a large window.
          The left one is a large, round, room with a large window. The window is open, and the room is filled with garbage.
          where Granny Hatchet died. 'she' swam away with a completely brutish humblot from Squid knows where."></div>
              </div>

          </div>

          <!-- <div class="col-md-auto">
          <p class="construction">contribute to this project on
            <a href="https://github.com/bafflingscience/songs-the-lord-gave-dave" target="_blank" rel="noreferrer">GitHub</a></p>
          </div>
           -->
           <div id="aplayer"></div>
        <!-- <include src="./src/assets/html/lrc.html"></include> -->

      </div>
      </div>
  </footer>