
      <!-- & ----------------------------------------------------------------------- & -->
      <!-- ~                                 HEADER                                  ~ -->
      <!-- & ----------------------------------------------------------------------- & -->

      <header class="row">


        <h1 id="page-title">{{ title }}</h1>

        <div class="col-md-12"><br>
          <h2 class="construction__warning">{{ warning }}</h2> 
          <h3 class="construction__text">{{ text }}</p>
            <!-- <br> -->
            <h3 id="the-hits" data-aos="fade-left">click or tap to listen</h3>
        </div>
      </header>