<div class="aplayer">
    <pre class="aplayer-lrc-content">
    [00:00:00]lyrics by walt whitman 
    [00:20.34]loaf with me on the grass,
    [00:25.02]loose the stop from your throat
    [00:29.11]not words not music nor rhyme i want,
    [00:33.70]not custom or lecture, not even the best
    [00:38.09]only the lull i like,
    [00:42.60]the hum of your valved voice
    [00:46.97]hmmmmmmm,
    [00:50.55]swiftwind space my soul
    [00:54.43]now i know it is true what i guessed at
    [00:57.99]what i guessed
    [00:59.16]swift wind space my soul
    [01:02.95]now i know it is true what i guessed at
    [01:06.60]what i guessed
    [01:07.68]when i loafed on the grass
    [01:10.72]what i guessed while i lay alone in my bed
    [01:41.86]i mind how we lay in june
    [01:46.22]such a transparent summer morning
    [01:50.84]you settled your head athwart my hips
    [01:55.39]and gently turned over upon me
    [01:59.60]and parted the shirt from my bosom bone
    [02:04.28]and plunged your tongue into my barestript heart
    [02:08.68]and reached till you felt my cheek
    [02:13.04]and reached till you held my feet
    [02:20.80]swift wind space my soul
    [02:24.73]now i know it is true what i guessed at
    [02:28.34]what i guessed
    [02:29.37]swift wind space my soul
    [02:33.21]now i know it is true what i guessed at
    [02:36.60]what i guessed
    [02:37.82]when i loafed on the grass
    [02:40.92]what i guessed while i lay alone in my bed
    [03:12.19]swiftly arose and spread upon me,
    [03:16.96]the peace and joy and knowledge that pass
    [03:21.18]all the art and argument of the earth
    [03:30.00]i know that the hand of God is
    [03:34.64]the elder hand of my own
    [03:38.99]i know that the spirit of God is
    [03:43.58]the eldest brother of my own
    [03:47.84]and that all the men ever born
    [03:52.62]are also my brothers,
    [03:56.94]and the women my sisters and lovers,
    [04:01.40]and that a kelson of the creation is
    [04:04.91]love
    [04:09.84]swift wind space my soul
    [04:13.40]now i know it is true what i guessed at
    [04:17.16]what i guessed
    [04:18.47]swift wind space my soul
    [04:21.95]now i know it is true what i guessed at
    [04:25.52]what i guessed
    [04:26.46]when i loafed on the grass
    [04:29.75]what i guessed while i lay alone in my bed
</pre>
</div>
