script.
  $(".album-poster").on('click', function(e) {
    var dataSwitchId = $(this).attr('data-switch');
    //console.log(dataSwitchId);

    ap.list.switch(dataSwitchId);

    ap.play();

    $("#aplayer").addClass('showPlayer');
  });

  const ap = new APlayer({
    container: document.getElementById('aplayer'),
    listFolded: true,
      audio: [
      {
        name: 'male prostitute',
        artist: 'd A v i d . k L e g g',
        url: './assets/audio/male_prostitute.mp3',
        cover: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.rzaiOT9sWPrPpeF0FrSQrQHaHa%26pid%3DApi&f=1',
      },
      {
        name: 'm u L t i v e r s e',
        artist: 'd A v e',
        url: './audio/Multiverse Bounce - 8.3.16.mp3',
        cover: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.rzaiOT9sWPrPpeF0FrSQrQHaHa%26pid%3DApi&f=1',
      },
      {
        name: 'k n o x v i L L e . g i r L',
        artist: 'd A v i d . k L e g g',
        url: './audio/Knoxville Girl.mp3',
        cover: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.rzaiOT9sWPrPpeF0FrSQrQHaHa%26pid%3DApi&f=1',
      },
      {
        name: 'r e v e n g e',
        artist: 'd A v i d . k L e g g',
        url: './audio/Revenge.mp3',
        cover: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.rzaiOT9sWPrPpeF0FrSQrQHaHa%26pid%3DApi&f=1',
      },
      {
        name: 'w h i t m A n',
        artist: 'd A v i d . k L e g g',
        url: './audio/Whitman.mp3',
        cover: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.rzaiOT9sWPrPpeF0FrSQrQHaHa%26pid%3DApi&f=1',
      }]
  });