script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js" type="javascript")
script(src="public/assets/js/bootstrap.bundle.min.js" type="javascript")
script(src="public/assets/js/bootstrap.min.js" type="javascript")
script(src="public/assets/js/tilted.js" type="javascript")
srcipt(src="public/assets/js/vanilla-tilt.js" type="javascript")
script(src="public/aplayer.js" type="javascript")

