#aplayer
  position fixed
  bottom -100%
  left 0
  width 100%
  margin 0
  box-shadow 0 -2px 2px #dadadq
  background-color $lightbg
  transition all ease 0.5s

#aplayer.showPlayer
  bottom 0

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded
  background pink

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played
  height 4px
  background-color: $darkbg-dim !important
  &.aplayer-thumb
    background-color: $darkbg-dim !important

.aplayer .aplayer-icon
    width 20px
    height 20px

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path
  fill #000

.aplayer .aplayer-info .aplayer-music
  margin-bottom 5px
  
  


