body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-family: 'ZCOOL KuaiLe';
  background-color: black;
}

#plain-text {
  font-family: 'Monoton';
}

.backgroundCoverImage {
  background-image: url('./assets/images/squid-life.jpg');
  min-height: 100px;
  min-width: 100px;
  max-height: 200px;
  max-width: 200px;
  background-origin: border-box;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  padding: 40px 0;
  background: rgb(0, 0, 0);
  /* background-image: url('./assets/images/icons8-chat-message.gif'); */
  
}

a.nav-link {
  color: #12CFF3;
}

a.nav-link:hover {
  color: white;
}

a.nav-link#disabled {
  color: white;
}

/* @keyframes colorainbow { 
  0% { color: crimson; }
  25% { color: #F4839A;}
  50% { color: #12CFF3; }
  75% { color: #3CDB14 }
  85% { color: #DB7114;} 
  93% { color: #DB4F14; }
  100% { color: #DB4314; }
  } */
  
  @keyframes colorainbow {
    0% { color: #12CFF3; }
    100% { color: #3CD814 }
  }


h1 {
  margin-left: 15px;
  color:#12CFF3;
  animation-name: colorainbow;
  animation-delay: 0.7ms;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

h4 {
  color: crimson;
  font-size: 17px;
  text-transform: lowercase;
  margin-top: 16px;
  font-weight: 600;
}

.row#cardgrid {
  display: flex;
}

.col-md-3 {
  margin-bottom: 40px;
}    

.album-poster {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(235, 99, 189, 0.3);
  transition: all ease .4s;
}

.album-poster:hover {
  box-shadow: none;
  transform: scale(0.89) translateY(5px);
}  

img {
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 7px;
  transform: translateZ(20px);
}  

h3 {
  font-size: 24px;
  margin-bottom: 24px;
  border-bottom: .4px;
  padding-bottom: 15px;
  color: #12CFF3;
}

@keyframes wobniaroloc {
  0% {color: white; }
  100% { color: #12CFF3; }
 }

p {
  color: limegreen;
  font-size: 15px;
  text-transform: lowercase;
  animation-name: wobniaroloc;
  animation-delay: 0.7ms;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

/*?  MEDIA QUERIES ?*/

@media screen and (min-width: 0) {
  .album-cover {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 400px) {
  .album-cover {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 770px) {
  .row {
    margin: 30px;
  }
  .col-md-3 {
    display: flex;
    justify-content: center;
    align-content: center;
  }

    h1#page-title { margin-left: 10px;}
    img {max-height: 200px; max-width: 200px;}
    h4 { flex-wrap: wrap;}
}


@media screen and (min-width: 992px) {
  /* .div.col-md-3 {
    background-color: hotpink; */
  }

@media screen and (min-width: 1200px) {
  /* .div.col-md-3 {
    background-color: lime; */
  }
@media screen and (min-width: 1400px) {
  /* .div.col-md-3 {
    background-color: teal; */
  }



